body{
    background-image: url("https://media.istockphoto.com/id/478995576/es/foto/vista-de-la-destrucci%C3%B3n-de-la-ciudad.jpg?s=612x612&w=0&k=20&c=_Zc7Wo3t-J65dWiV9wKMvdmcAT3j8VT-Ev8Ft8TURDI=");
    width: 84rem;
    height: 37rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phrase{
    color:aliceblue;
    font-size: 3rem;
    background-image: url("https://www.cdc.gov/radiation-emergencies/media/images/2024/04/radioactive-hazard.jpg");
    box-shadow: 20px 15px 5px black;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
}